


.searchContainer{
    display: flex;
    justify-content: center;
    }
.searchBox{
    position: relative;
}
.searchInput{
    height:30px;
    border-radius:10px;
    padding: 5px 30px 5px 10px;
    border: 1px solid white;
}
.searchInput:focus{
    outline:none;
    box-shadow:  0 0 8px red ;
    
}

.searchBtn{
    position: absolute; 
    right: 8px;
    top: 0;
    height:100%;
    border:none;
    background:none;
}